<div class="maim-warapper">

  <%= render "shared/side_nav" %>

  <div class="main-contents">

    <table class="table">
      <caption>ブレークポイント</caption>
      <thead>
        <tr>
          <th>記念日名</th>
          <th>記念日</th>
          <th>記念日まであと何日？</th>
          <th>あああああ</th>
        </tr>
      </thead>

      <tbody>
      <% @anniversaries.each do |anniversary, i| %>
        <tr>
          <td><%= anniversary.anniversary_name %></td>
          <td><%= anniversary.anniversary_date %></td>
          <td><%= anniversary.anniversary_date.next_day(100) %></td>
          <td><%= anniversary.anniversary_name %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>


