<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class="bg-light border-bottom sticky-top">
 <div class="header-wrapper">
    <div class="logo">
      <%= link_to "Anniversary", root_path%>
    </div>

    <% if user_signed_in? %>        
    <div>
      <ul class="d-flex container align-items-center mt-3">
        <li><%= link_to "Create", new_anniversary_path, class:"header-nav  me-3 h5" %></li>
        <p class="d-inline mt-2"> |　</p> 
        <li><%= link_to "All contents", all_anniversaries_path, class:"header-nav  me-3 h5" %></li>
        <p class="d-inline mt-2"> |　</p>  
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "header-nav h5" %></li>
      </ul>
    </div>

    <% else %>
    <div>
      <ul class="d-flex container align-items-center mt-3">
        <li><%= link_to "All contents", all_anniversaries_path, class:"header-nav  me-3 h5" %></li>
        <p class="d-inline mt-2"> |　</p>  
        <li><%= link_to "Log in", new_user_session_path, class: "header-nav  me-2 h5" %></li>　
        <li><%= link_to "Sign up", new_user_registration_path, class: "header-nav h5" %></li>
      </ul>
    </div>
    
  <% end %>
  </div>
  
</header>