<header class="bg-light sticky-top header-height">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="logo">
        <%= link_to "Anniversary", root_path%>
      </div>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <% if user_signed_in? %>     
          <ul class="navbar-nav m-auto mb-2 mb-lg-0">
            <li class="nav-item nav-link">
              <%= link_to "Home", user_path(current_user.id), class:"header-nav  me-3 h5" %>
            </li>

            <li class="nav-link nav-item">
              <%= link_to "All", all_anniversaries_path, class:"header-nav  me-3 h5" %>
            </li>

            <li class="nav-link nav-item">
              <%= link_to "List", user_lists_path(current_user.id), class:"header-nav  me-3 h5" %>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle google-font" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= "User Menu (#{current_user.nickname})"%>
                
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><%= link_to "New", new_anniversary_path, class:"dropdown-item" %></li>
                  <li><%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
              </ul>
            </li>
          </ul>

        <% else %>
          <ul class="navbar-nav m-auto mb-2 mb-lg-0">
            <li class="nav-link nav-item">
              <%= link_to "All contents", all_anniversaries_path, class:"header-nav  me-3 h5" %>
              <p class="d-inline mt-2"> |</p>  
            </li>

            <li class="nav-link nav-item">
              <%= link_to "Log in", new_user_session_path, class: "header-nav  me-2 h5" %>
              <p class="d-inline mt-2"> |</p>  
            </li>

            <li class="nav-link nav-item">
              <%= link_to "Sign up", new_user_registration_path, class: "header-nav h5" %>
            </li>
          </ul>
          <% end %>


        <div>
          <%= form_with url: search_anniversaries_path, method: :get, class:"d-flex", local: true do |f| %>
            <%= f.text_field :keyword, class:"form-control me-2", type:"search", placeholder:"Search"%>
            <%= f.submit "検索", class:"btn btn-outline-secondary", type:"submit"%> 
          <% end %>
        </div>

      </div>
    </div>
  </nav>

</header>