  <div class="d-flex flex-column flex-shrink-0 p-3 bg-light vh-100" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4 side-nav-logo">Anniversary</span>
    </a>
    <hr>

    <% if user_signed_in? %>  
      <ul class="nav nav-pills flex-column mb-auto">
        <li>
          <div class="d-flex">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
            <%= link_to "All Anniversary", all_anniversaries_path, class:"nav-link link-dark ms-1" %> 
          </div>
        </li>

        <li>
          <div class="d-flex">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
            <%= link_to "My Anniversary", user_path(current_user.id), class:"nav-link link-dark ms-1" %> 
          </div>
        </li>

        <li>
          <div class="d-flex">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
            <%= link_to "My List", user_lists_path(current_user.id), class:"nav-link link-dark ms-1" %> 
          </div>
        </li>

      <li>
          <a href="#" class="nav-link link-dark">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
            My Follow
          </a>
        </li>
              
      </ul>

    <% else %> 
      <ul class="nav nav-pills flex-column mb-auto">
        <li>
          <div class="d-flex">
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
            <%= link_to "All Anniversary", all_anniversaries_path, class:"nav-link link-dark ms-1" %> 
          </div>
        </li>              
      </ul>

      
    <% end %> 
    
    <hr>

    <div class="dropdown">
      <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
        <li><%= link_to "New Anniversary", new_anniversary_path, class:"dropdown-item" %></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>