  <div class="d-flex flex-column flex-shrink-0 p-3 bg-light vh-100 overflow-hidden">
    
    <div>
      <a href="/" class="link-dark text-decoration-none fs-4 side-nav-logo ms-3">Anniversary</a>
    </div>
    
    <hr>

    <% if user_signed_in? %>  
      <ul class="nav nav-pills flex-column mb-auto">
        <li>
          <div class="d-flex">
            <%# <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg> %>
            <%= link_to "All Anniversary", all_anniversaries_path, class:"nav-link link-dark ms-1" %> 
          </div>
        </li>

        <li>
          <div class="d-flex">
            <%# <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg> %>
            <%= link_to "My Anniversary", user_path(current_user.id), class:"nav-link link-dark ms-1" %> 
          </div>
        </li>

        <li>
          <div class="d-flex">
            <%# <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg> %>
            <%= link_to "My List", user_lists_path(current_user.id), class:"nav-link link-dark ms-1" %> 
          </div>
        </li>

        <li>
          <div class="d-flex">
            <%= link_to "My Follow", "#", class:"nav-link link-dark ms-1" %> 
          </div>
        </li>
              
      </ul>

    <% else %> 
      <ul class="nav nav-pills flex-column mb-auto">
        <li>
          <div class="d-flex">
            <%# <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg> %>
            <%= link_to "All Anniversary", all_anniversaries_path, class:"nav-link link-dark ms-1" %> 
          </div>
        </li>              
      </ul>

      
    <% end %> 
    
    <hr>

    <div class="dropdown">
      <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
        <li><%= link_to "New Anniversary", new_anniversary_path, class:"dropdown-item" %></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
      </ul>
    </div>
  </div>