<%= render "shared/header" %>

<div class="container-fluid px-0 w-100 hero-height">
  <div class="hero-wrapper vw-100 h-100 relative">
     <%= image_tag "top.jpg", class:"hero-image opacity-75 vw-100 h-100 bg-Success "%>

    <div class="hero-text d-flex align-items-center justify-content-center flex-column h-100 google-font">
      <p class="display-1  text-white google-font">Anniversary</p>
      <p class="lead text-light">この世に生まれたあの日から、毎日が特別な記念日<br> 大切な毎日をAnniversaryで</p>

      <% if user_signed_in? %> 
      <% else %>
      <p>
        <%= link_to "Log in", new_user_session_path, class: "btn btn-light me-3 shadow" %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-secondary shadow" %> 
      </p>
      <% end %>
    </div>
  </div>


</div>


<%#= render "shared/album" %>


<%= render "shared/footer" %>