
<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <%= form_with model: @anniversary, local: true do |f| %>
      <%= render  partial:'shared/error_messages', locals: { model: f.object }%>

        <div class="mb-3">
          <label for="item-image" class="form-label">画像</label>
          <%= f.file_field :image, class:"form-control", id:"item-image"%>
        </div>

        <div class="mb-3">
          <label for="anniversary_name" class="form-label">記念日名</label>
          <%= f.text_field :anniversary_name, class:"form-control", id:"anniversary_name", placeholder:"記念日名", maxlength:"40" %>
        </div>
        
        <div class="mb-3">
          <label for="anniversary_date" class="form-label">記念日</label>
          <%= f.date_field :anniversary_date, class:"form-control", id:"anniversary_date"%>
        </div>
<%# 
        <div class="form-field">
          <p>記念日</p>
          
          <div class="field">
            <%= f.label :anniversary_date %>
            <%# <br />
            <div class='input-birth-wrap'>
              <%= raw sprintf(
                          f.date_select(
                            :anniversary_date,
                            class:'select-birth',
                            id:"birth-date",
                            use_month_numbers: true,
                            prompt:'--',
                            start_year: 1930,
                            end_year: (Time.now.year),
                            date_separator: '%s'),
                          "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
            <%# </div>
          </div>
        </div>
         %>

        <div class="mb-3">
          <label for="anniversary_description" class="form-label">記念日の説明</label>
          <%= f.text_area :anniversary_description, class:"form-control", id:"anniversary_description", placeholder:"記念日の説明"%>
        </div>


        <div class="mb-3">
          <label for="item-category" class="form-label">カテゴリー</label>
           <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"form-select", id:"item-category"}) %>
        </div>

        <div class="mb-3">
          <label for="who_anniversary" class="form-label">誰の記念日</label>
          <%= f.text_field :who_anniversary, class:"form-control", id:"who_anniversary", placeholder:"誰の記念日ですか？"%>
        </div>

        <div class="mb-3">
          <%= f.submit "SEND", class:"btn btn-primary" %>
        </div>
        
      <% end %>
    </div>
  </div>
</div>