<div class="container-fluid">
  <div class="row">

    <div class="col-2 sticky-top vh-100 p-0">
     <%= render "shared/side_nav" %>
    </div>

    <div class="col-10">

      


      <%# カード本体 %>
      <div class="container my-3 m-auto w-75 border" style="max-height: 500px;">

        <%# カードヘッダー %>
        <div class="row" style="height: 10%;">
          <div class="col-12 bg-light border-bottom card-header d-flex align-items-center justify-content-between px-3 py-2">
          
            <div class="left d-flex align-items-center">
              <div class="me-3 fs-6 "> <%= "#{@anniversary.anniversary_date}　|" %> </div>
              <div class="fs-6 fw-bold"><%= @anniversary.anniversary_name %> </div>
            </div>

            <% if user_signed_in?%>
              <div class="zindex dropdown">
                <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                  <strong><%= @anniversary.user.nickname %></strong>
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                  <li><%= link_to "User Home", user_path(@anniversary.user.id), class:"dropdown-item" %></li>
                  <li><%= link_to "Edit",  edit_anniversary_path(@anniversary.id), class:"dropdown-item"%></li>
                  <li><%= link_to "Dstroy", anniversary_path(@anniversary.id), method: :delete, class:"dropdown-item"%></li>
                </ul>
              </div>
            <% else %>

            <% end %>
         
          </div>
        </div>

        <%# カードメイン %>
        <div class="row overflow-scroll" style="max-height: calc(500px - 50px);">
        
          <%# 画像全体 col-8で横のグリッドを指定 %>
          <div class="col-8 px-0">
            <%= image_tag @anniversary.image, class:"img-fluid"%>
          </div>

          <%# 詳細欄 & いいねとかの欄%>
          <div class="col-4 px-0 sticky-top" style="max-height: calc(500px - 50px);">

            <div class="container h-100">
              <div class="row h-100">

                <%# 詳細欄 %>
                <div class="col-12 border-bottom h-75">
                  <p class="fs-6"><%= @anniversary.anniversary_description %></p>
                  <p class=""><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>

                <%# いいね %>
                <div class="d-flex col-12 h-25 w-100 fw-light align-items-center" style="min-height:100px;">
                  <div class="d-flex align-items-center justify-content-center px-2 me-2  " id = "like_<%= @anniversary.id %>">
                    <%= render partial: "likes/like", locals: { anniversary: @anniversary } %>
                  </div>
                  <div>
                    <ul class="m-0 px-1 border-start">
                      <li><small class="data m-0"> Post：<%= @anniversary.created_at.strftime('%Y/%m/%d') %></small></li>
                      <li><small class="who"> Who：<%= @anniversary.who_anniversary %></small></li>
                      <li><small class="category"> Category：<%= @anniversary.category.name %></small></li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <%# コメント　メインのcal10の中 %>
      <div class="container my-3 m-auto w-75 border">
        <div class="row">
          <div class="col-12 px-3 py-2">
            <%= render "shared/comment" %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


