<%= render "shared/header" %>



<div class="container-fluid new-wrapper ">
  
  <div class="row p-5 ">

    <div class="col-md-6 col-sm-12">
      <%= image_tag "signin.jpg", class:"img-fluid" %>
    </div>

    <div class="col-md-6 col-sm-12 d-flex align-items-center justify-content-center  my-2">

      <div class="wrapper d-flex justify-content-center p-4 google-font">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%# <h2 class="google-font">Log in</h2> %>

          <div class="mb-3">
            <label for="email" class="form-label m-0">Email</label>
            <%= f.email_field :email, autofocus: true, placeholder:"Email", autocomplete: "Email", class: "form-control", id:"email"%>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label m-0">Password</label>
            <%= f.email_field :email, autofocus: true, placeholder:"Password", autocomplete: "Password", class: "form-control", id:"email"%>
          </div>

          <div class="mb-3">
            <%= f.submit "Log in", class:"btn btn-outline-dark "%>
          </div>

        <% end %>
      </div>

    </div>
  </div>

</div>
<%= render "shared/footer" %>